@font-face { 
    font-family: "Nunito"; src: url('../fonts/Nunito.ttf');  font-display: block;
}

body, html {
    font-family: "Nunito" !important;
    height: 100%;
    min-height: 100%;
}

p, button {
    font-family: "Nunito" !important;
}